@media only screen and (min-width: 768px) and (max-width: 991px) {
  .img {
    display: none;
  }
  #nav-bar .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  #about .container {
    gap: 40px;
  }
  #job-info .container {
    grid-template-columns: repeat(2, 1fr);
  }
  #certificate .content {
    gap: 0px;
    padding: 0;
  }
  #certificate .content-item {
    grid-template-columns: 1fr;
  }
  #project .pr-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* CHARTER PROJECT */
  .charter {
    grid-template-columns: 1fr;
  }
  #goals {
    grid-row: 1/2;
  }
  #scopes {
    grid-row: 2/3;
  }
  #team {
    grid-row: 3/4;
  }
  #primary {
    grid-row: 4/5;
  }
  #timeline {
    grid-row: 5/6;
    grid-column: unset;
  }
  #goals .row,
  #team .row,
  #primary .row,
  #timeline .row {
    flex-direction: column;
  }
  #team .row .content,
  #primary .row .content {
    align-self: flex-start;
  }

  #scopes .charter-content {
    grid-template-columns: 1fr;
    gap: 0;
  }

  #timeline .row,
  #team .row,
  #primary .row {
    gap: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #timeline .row > * {
    align-self: flex-start;
  }
}
